<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать новость</title>

</head>
<body>
    <h2>Редактировать новость: {{ news.title }}</h2>
    <form method="post">
      {% csrf_token %}
      <div>
        <label for="title">Заголовок:</label>
        <input type="text" id="title" name="title" value="{{ news.title }}" required>
      </div>
      <div>
        <label for="content">Содержание:</label>
        <textarea id="content" name="content" required>{{ news.content }}</textarea>
      </div>
      <div>
        <label for="category">Категория:</label>
        <select id="category" name="category">
          {% for category in categories %}
            <option value="{{ category.id }}" {% if category.id == news.category.id %}selected{% endif %}>{{ category.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="author">Автор:</label>
        <select id="author" name="author">
          {% for author in authors %}
            <option value="{{ author.id }}" {% if author.id == news.author.id %}selected{% endif %}>{{ author.name }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</body>
</html>
